.mainn {
  &__seatsContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 19%;
    flex-wrap: wrap;
    margin: 0px 20px;
  }
  &__chooseSeat {
    display: flex;
  }
  &__seatsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  &__seatsLetter {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
  }
  &__a,
  &__b,
  &__c {
    background-color: white;
    padding: 1em 1.3em;
    gap: 10px;
    font-size: 1rem;
    width: 10px;
    border-radius: 5px;
    width: 53px;
    height: 56px;
    font-family: "Wix Madefor Text", sans-serif;
  }
  &__seats {
    display: flex;
    margin-bottom: 20px;
  }

  &__numbers {
    background-color: white;
    /* background-color: white; */
    padding: 1em 1.3em;
    font-size: 1rem;
    border-radius: 5px;
    width: 53px;
    height: 56px;
  }

  &__exitTitle {
    span {
      font-size: 0.8rem;
    }
  }
  &__seatsNumbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__fastExit,
  &__standarTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    width: 40px;
    text-align: center;
  }

  &__standarSeats {
    display: flex;
  }
  &__seatsStandar {
    display: flex;
    width: 19%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 20px;
  }
}
