.main{
    width: 100vw;
    padding: 2rem;
    display: flex;
    gap: 15px;
    background-color: #f5f5f7;
    &__content{
        width: 80vw;
    }
    &__aside{
        width: 20vw;
        h4{
            font-family: 'Wix Madefor Text', sans-serif;
        }
    }
}