.navBar{
    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1{
            font-size: 2rem;
        }        
    }
    &__date{
        display: flex;
        flex-direction: column;
    }

}