.btnData {
  padding: 1em 2em;
  border: 1px solid #a70b6c;
  color: #a70b6c;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Wix Madefor Text", sans-serif;
  font-size: 0.8rem !important;
  line-height: 1em;
}
.fill {
  background-color: #a70b6c;
  color: white;
}

.hidden{
  display: none;
}
