.date{
    &__underline{
        border-bottom: 1px solid black;
        width: 25px;
    height: 30px;
}
&__leave{
    margin-bottom: 20px;
    
}
&__date{
    font-weight: 600;
    font-size: 0.9rem;
}
&__time{
    color: gray;
    font-size: 0.95rem;
}
}