.main__seat {
  background-color: gray;

  /* background-color: white; */
  padding: 1em 1.3em;

  font-size: 1rem;
  border-radius: 5px;
  width: 10px;
  height: 20px;
  height: 56px;
  width: 53px;
}

.active {
  background-color: #a70b6c;
  color: white;
}

.selected {
  background-color: white;
  border: 2px solid #a70b6c;
}
