.main__seat {
  background-color: gray;

  /* background-color: white; */
  padding: 1em 1.3em;

  font-size: 1rem;
  border-radius: 5px;
  width: 10px;
  height: 20px;
  height: 56px;
  width: 53px;
  @media screen and (max-width:426px) {
    width: 43px;
    height: 46px;
  }
}

.active {
  background-color: #a70b6c;
  color: white;
}

.active-fast {
  background-color: #a70b6c;
  color: white;
}

.selected {
  background-color: white;
  border: 2px solid #a70b6c;
}

.asientos-normales,
.asientos-especiales{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}