@import 'components/feature-homepage/search-tickets/search-tickets.scss';
@import 'components/feature-homepage/payment/payment.scss';
@import 'components/feature-homepage/services-availables/services-availables.scss';
@import 'components/feature-homepage/passengers/passengers.scss';

body{
    box-sizing: border-box;
    margin: 40px !important;
    padding: 0;
}